@charset "utf-8";
#wrap {
    width: 360px;
    margin: 0 auto;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
}
/*헤더영역*/
.header {
    width: 360px;
    position: absolute;
    padding: 16px;
}
.header .ham {
    float: left;
    margin-top: 5px;
}
.header .logo {
    float: left;
    margin-left: 100px;
}
.header .search {
    float: right;
    margin-top: 5px;
}
/*헤더영역*/
/*슬라이더영역*/
.slide {
    position: relative;
    z-index: -1;
}
.slide .slide_img h1{
    position: absolute;
    bottom: 108px;
    left: 16px;
    color: #fff;
}
.slide .slide_img h1 i {
    font-weight: 900;
    font-size: 28px;
    line-height: 25px;
}
.slide .slide_img p {
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
    position: absolute;
    left: 16px;
    bottom: 56px;
}
.slide .slide_img .dots {
    position: absolute;
    left: 160px;
    bottom: 14px;
    
}
.slide .slide_img .dots li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ccc;
    float: left;
    margin-left: 8px;
}
.slide .slide_img .dots li:nth-child(1){
    margin: 0;
    background-color: #fff;
}
/*슬라이더영역*/
/*앨범영역*/
.album img {
    margin-top: 50px;
}
/*뉴스타이틀*/
.news_title {
    margin-top: 73px;
    padding: 0 16px;
    position: relative;
}
.news_title h1 {
    font-size: 20px;
    float: left;
}
.news_title p {
    font-size: 12px;
    border: 1px solid #000;
    float: right;
    padding: 5px;
    border-radius: 5px;
}
.news_title img {
    position: absolute;
    left: 137px;
    top: -17px;
    z-index: -1;
}
/*선*/
.line1 {
    display: inline-block;
    width: 360px;
    height: 1px;
    background-color: #ccc;
    margin: 35px 0 15px;
}
.line2 {
    display: inline-block;
    width: 360px;
    height: 1px;
    background-color: #ccc;
    margin: 15px 0;
}
/*뉴스박스*/
.news_box {
    margin-left: 16px;
}
.news_box img {
    float: left;
    margin-right: 7px;
}
.news_box .news_text {
    float: left;
    font-family: 'Noto Sans KR',sans-serif;
}
.news_box .news_text h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
}
.news_box .news_text p {
    font-size: 14px;
    color: #888;
    line-height: 1.2;
}
/*오디션영역*/
.audition img {
    padding-top: 35px;
}
/*온에어영역*/
.onair {
    margin-top: 50px;
    height: 412px;
    padding-left: 16px;
    background-color: #000;
    overflow: hidden;
}
.onair span {
    color: red;
}
/*온에어타이틀*/
.onair .onair_title {
    position: relative;
    z-index: 1;
}
.onair .onair_title h1 {
    font-size: 20px;
    padding: 50px 0;
    color: #fff;
}
.onair .onair_title img {
    position: absolute;
    left: 120px;
    top: 33px;
    z-index: -1;
}
/*온에어포스터*/
.onair .onair_poster {
    position: relative;
}
.onair .onair_poster h3 {
    margin: 12px 0;
    font-size: 12px;
    color: #fff;
}
.onair .onair_poster p {
    font-size: 12px;
    color: #888;
    line-height: 1.2;
   
}
.onair .onair_poster .poster1 {
    position: absolute;
    top: 0;
    left: 0;
}
.onair .onair_poster .poster2 {
    position: absolute;
    top: 0;
    left: 150px;
}
.onair .onair_poster .poster3 {
    position: absolute;
    top: 0;
    left: 300px;
}
/*배너*/
.banner img {
    margin-top: 50px;
}
/*푸터*/
.footer {
    height: 123px;
    background-color: #ccc;
    margin-top: 30px;
}
.footer .copy {
    padding: 15px 32px 0;
}
.footer .copy ul {
    float: left;
    text-align: center;
}
.footer .copy ul li {
    font-size: 0.5rem;
    font-weight: bold;
    margin-top: 3px;
}
.footer .copy p {
    float: right;
    font-size: 0.5rem;
    border-left: 1px solid #888;
    padding-left: 15px;
    margin: 10px 20px 20px 20px;
}
.footer .sns p {
    float: left;
    font-family: 'Noto Sans KR',sans-serif;
    font-size: 0.5rem;
    margin-left: 32px;
    margin-top: 5px;
    letter-spacing: -1px;
}
.footer .sns img {
    float: right;
    margin-right: 32px;
    width: 99px;
}












