@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 360px;
    margin: 0 auto;
}

/*헤더시작*/

header {
    position: absolute;
    z-index: 10;
}

header>div {
    padding: 0 16px;
}

header img:nth-child(1){
    margin: 10px 0;
    float: left;
}

header img:nth-child(2) {
    margin: 6px 0;
    float: left;
    margin-left: 98px;
}

header img:nth-child(3) {
    margin: 10px 0;
    float: right;
    margin-left: 98px;
}

/*헤더끝*/

/*아티클시작*/

article .slide {
    position: relative;
}

article .slide img {
    width: 100%;
}

article .slide h1 {
    position: absolute;
    left: 16px;
    bottom: 108px;
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    line-height: 25px;
}

article .slide p {
    position: absolute;
    left: 16px;
    bottom: 56px;
    font-size: 20px;
    color: #000;
    font-weight: 900;
    line-height: 20px;
}

article .slide .dot ul li {
    width: 6px;
    height: 6px;
    background-color: #c3c3c3;
    margin-left: 2px;
    float: left;
    border-radius: 50%;
}

article .slide .dot ul li:nth-child(1){
    margin-left: 0;
}

article .slide .dot ul {
    position: absolute;
    left:165px;
    bottom: 15px;
    z-index: 20;
}

/*아티클끝*/

/*섹션시작*/

section .album {
    margin-top: 50px;
}

/*뉴스시작*/

section .line2 {
    display: inline-block;
    margin-top: 20px;
}

section .news h3 {
    font-weight: 600;
    font-size: 14px;
}

section .news p {
    color: #888888;
    font-size: 12px;
}

section .news img {
    display: inline-block;
    
    margin-right: 7px;
}

section .news {
    padding: 0 16px;
    margin-top: 73px;
}

section .news .news_icon {
    position: relative;
}

section .news .news_icon h2 {
    font-size: 20px;
    float: left;
}


section .news .news_icon button {
    float: right;
    margin-top: 1px;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 12px;
    font-weight: normal;
    padding: 3px;
    border-radius: 10%;
}

section .news .news_icon img {
    position: absolute;
    font-weight: 500;
    z-index: -1;
    left: 118px;
    top: -65px;
}

section .news .news_box1 {
    margin-top: 15px;
}
section .news .news_box2 {
    margin-top: 15px;
}
section .news .news_box3 {
    margin-top: 15px;
}

section .news .line {
    display: inline-block;
    margin-top: 32px;
}

.news_box1 .new_text1{
    float: left;
}
.news_box1 img{
    padding: 0;
    float: left;
}
.news_box2 .new_text2{
    float: left;
}
.news_box2 img{
    padding: 0;
    float: left;
}
.news_box3 .new_text3 {
    float: left;
}
.news_box3 img{
    padding: 0;
    float: left;
}

/*뉴스끝*/

section .onair {
    margin-top: 50px;
    display: block;
    background-color: #000;
    height: 412px;
    color: #fff;
}

section .onair {
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
    padding-left: 16px;
}

section .onair h2 {
    color: #fff;
    font-size: 20px;
    padding-top: 50px;
}

section .onair p {
    font-size: 12px;
    color: #898888;
}

section .onair h3 {
    font-size: 12px;
    color: #fff;
}

section span {
    color: red;
}

section img {
    padding-top: 50px;
}

section .onair {
    position: relative;
}

section .onair .onair1 {
    position: absolute;
    left: 16px;
}
section .onair .onair2 {
    position: absolute;
    left: 160px;
}
section .onair .onair3 {
    position: absolute;
    left: 304px;
}

section .things {
    margin-top: 4px;
    margin-bottom: 50px;
}


/*섹션끝*/
footer {
    margin-top: 40px;
    width: 100%;
    height: 123px;
    background-color: #e1e1e1;
}
footer .copy {
    padding-top: 13px;
    margin-top: 1px;
    margin-left: 32px;
}
footer .copy ul{
    margin-top: 7px;
    float: left;
    font-size: 0.1rem;
}
footer .copy ul li {
    font-weight: 700;
    text-align: center;
}
footer .copy .border {
    float: left;
    margin: 10px 20px 20px 20px;
    border-left: 1px solid #838383;

}
footer .copy .border p {
    font-size: 9px;
    font-weight: normal;
    color: #2a2a2a;
    padding-left: 15px;
}
footer .sns p{
    width: 186px;
    font-size: 9px;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    letter-spacing: -1px;
    margin-left: 32px;
    margin-top: 3px;
}
footer .sns img {
    width: 99px;
    float: right;
    margin-right: 32px;
}










































