@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat',sans-serif;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, cite, code, del, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, section, summary, time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

ul, li {
    list-style: none;
}

.cf:after {
    content: "";
    display: none;
    clear: both;
}

hr {
    background-color: #e3e3e3;
    width: 328px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: 1px;
}

h1,h2,h3,h4,h5,h6,p {
    font-weight: normal;
    font-size: 1rem;
    color: #000;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

input, textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    border-radius: 0;
}

input, textarea {
    border-bottom: 0px solid #ffc5b8;
    font-family: 'Montserrat';
    font-size: 12px;
    border-radius: 0;
}

















